<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
</head>
<body>
    <h1>Add Employee</h1>
    <form action="" method="post">
        <table border="1px">
            <th>username</th>
            <td><input type="text" name="username" id=""></td>
            <th>password</th>
            <td><input type="password" name="password" id=""></td>
            <th>phonenumber</th>
            <td><input type="number" name="phonenumber" id=""></td>
            <th>gender</th>
            <td><input type="text" name="gender" id=""></td>
            <th>designation</th>
            <td><input type="text" name="designation" id=""></td>
            <td><input type="submit" value="Insert Data" name="insert"></td>
        </table>
    </form>
</body>
</html>