<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
</head>
<body>
    <a href="/employee">Back</a>

    <form action="" method="post" enctype="multipart/form-data">
        <table border="1px">
            <tr>
                <th>password</th>
                <th>phonenumber</th>
                <th>gender</th>
                <th>designation</th>
                <th>propic</th>
            </tr>
            <tr>
                <td><input type="password" name="password" id=""></td>
                <td><input type="number" name="phonenumber" id=""></td>
                <td><input type="gender" name="gender" id=""></td>
                <td><input type="text" name="designation" id=""></td>
                <td><input type="file" name="propic" accept="image/*" id=""></td>
            </tr>
            <tr>
                <input type="submit" value="update" name="update">
            </tr>

        </table>
    </form>
</body>
</html>